@include mobile {
  .paul-sitting {
    background-image: url(../../images/web/about/paul_sitting@3x.jpg);
    height: 300px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    &::before {
      content: '';
      position: absolute;
      top: 320px;
      background-image: linear-gradient($color__llb, $color__llb);
      transform: skewY(-6deg);
      transform-origin: top left;
      width: 100%;
      height: 150px;
      z-index: -100;
    }

    .bio {
      h3 {
        color: $color__lb;
        text-align: center;
      }
    }
    // h2 {
    //   text-align: center;
    //   font-size: 2.25rem;
    // }
  }
  .young-picture {
    background-image: url(../../images/web/about/paul_young@3x.jpg);
    height: 500px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .story-img {
    background-image: url(../../images/web/about/paul_punching_bag@3x.jpg);
    height: 300px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .wp-block-quote {
    display: block;
    background-color: $color__db;
    text-align: center;
    position: relative;
    margin: 0;
    padding: 1rem;
    color: $color__w;
  }

  .about-my-story {
    h2 {
      position: relative;
      text-align: center;
      font-size: 2.75rem;
      &::after {
        content: '';
        width: 50%;
        height: 5px;
        background-color: $color__lb;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
      }
    }
    .wp-block-quote {
      display: block;
      background-color: $color__db;
      text-align: center;
      position: relative;
      margin: 0;
      padding: 1rem;
      color: $color__w;
    }
  }
}

@include desktop {

  .about-paul {
    position: relative;
    margin: 10%;
    .bio {
      background-color: $color__w;
      position: absolute;
      left: 0;
      top: 100px;
      width: 45%;
      height:450px;
      p {
        margin: 0;
      }
      .young-picture{
        background-image: url(../../images/web/about/paul_young@3x.jpg);
          
      }
    }
    .paul-sitting {
      background: url(../../images/web/about/paul_sitting@3x.jpg);
      height: 940px;
      background-position-x: right;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: auto;
      margin-bottom: 180px;
      &::before {
        content: '';
        position: absolute;
        top: 274px;
        background-image: linear-gradient($color__llb, $color__llb);
        transform: skewY(-6deg);
        transform-origin: top left;
        width: 100%;
        height: 890px;
        z-index: -100;
      }
    }

  }
  .personal-trainer-life-coach{
    display: block;
    background-color: $color__db;
    text-align: center;
    position: relative;
    margin: 0;
    padding: 1rem;
    color: $color__w;
  }

}

