@include mobile {
  .paul-sitting {
    background-image: url(../../images/web/about/paul_sitting@3x.jpg);
    //background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 400px;

    &::before {
      content: '';
      position: absolute;
      background-image: linear-gradient($color__llb, $color__llb);
      transform: skewY(-6deg);
      transform-origin: top left;
      width: 100%;
      height: 150px;
      z-index: -100;
    }
    .bio {
      padding: 5%;
      h3 {
        color: $color__lb;
        text-align: center;
        position: relative;
      }
    }
    h2 {
      text-align: center;
      font-size: 2.25rem;
    }
    .wp-block-quote-my-mission {
      display: block;
      background-color: $color__db;
      text-align: center;
      position: relative;
      margin: 0;
      padding: 1rem;
      color: $color__w;
      font-family: $font__main;
      font-size: 20px;
    }
  }
  .young-picture {
    background-image: url(../../images/web/about/paul_young.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 400px;
    .remember-the-days {
      padding: 5%;
      h2 {
        position: relative;
        text-align: center;
        font-size: 2.75rem;
        &::after {
          content: '';
          width: 50%;
          height: 5px;
          background-color: $color__lb;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: 0;
        }
      }
    }
    .story-img {
      background-image: url(../../images/web/about/paul_punching_bag.jpg);
      background-repeat: no-repeat;
      background-size: contain;
      padding-top: 400px;
      .rest-of-my-life {
        padding: 5%;
      }
    }

    .wp-block-quote-decison-to-make {
      display: block;
      background-color: $color__db;
      text-align: center;
      position: relative;
      margin: 0;
      padding: 1rem;
      color: $color__w;
      font-size: 20px;
    }
  }
  .transformation-background-pic {
    //background-image: url(../../images/web/about/paul_and_girl.jpg);
    background-image: url(../../images/web/about/paul_girl_working_out@3x.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    h2 {
      text-align: center;
      padding-top: 65%;
      color: white;
      font-size: 38px;
    }
    .about-mobile-button {
      display: inline-block;
      padding: 5px 10px;
      font-size: 20px;
      background-color: #00a7ed;
      border-radius: 5px;
      text-decoration: none;
      margin-left: 28%;
      position: relative;
      bottom: 30px;
      right: 10px;
      a {
        color: white;
        &:hover {
          color: $color__link-hover;
        }
      }
    }
    .button {
      display: none;
    }
  }
  .rest-of-my-life {
    padding: 5%;
  }
}
@include desktop {
  .about-paul {
    position: relative;
    h2 {
      padding-left: 5%;
    }
    .bio {
      background-color: $color__w;
      position: relative;
      width: 40%;
      line-height: 2;
      font-size: 1.25rem;
      text-align: left;
      padding: 5%;
      padding-top: 0;
      p {
        margin: 0;
      }
      h3 {
        color: $color__lb;
      }
    }
    .paul-sitting {
      background: url('../../images/web/about/paul_sitting@3x.jpg');
      height: 940px;
      background-position-x: right;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: auto;
      padding-top: 5%;
      &::before {
        content: '';
        position: absolute;
        top: 274px;
        background-image: linear-gradient($color__llb, $color__llb);
        transform: skewY(-6deg);
        transform-origin: top left;
        width: 100%;
        height: 890px;
        z-index: -100;
      }
      .personal-trainer-life-coach {
        text-align: center;
        position: relative;
        top: 0;
        display: block;
        width: 80%;
        padding: 10px;
        max-width: 47%;
        font-size: 2rem;
        background-color: $color__db;
        color: $color__w;
      }
    }
  }
  .young-picture {
    background-image: url('../../images/web/about/paul_young@3x.jpg');
    height: 940px;
    background-position-x: left;
    background-repeat: no-repeat;
    background-size: auto;
    width: 700px;
    &::before {
      content: '';
      position: absolute;
      top: 274px;
      background-image: linear-gradient($color__llb, $color__llb);
      transform: skewY(-6deg);
      transform-origin: top right;
      width: 100%;
      height: 890px;
      z-index: -100;
    }
    .wp-block-quote-decison-to-make {
      text-align: left;
      width: 113%;
      padding: 10px;
      font-size: 30px;
      left: 58%;
      margin-top: 12%;
      position: relative;
      background-color: #002150;
      color: white;
    }
  }
  .remember-the-days {
    background-color: $color__w;
    position: relative;
    left: 700px;
    line-height: 2;
    width: 94%;
    font-size: 1.25rem;
    padding: 2%;
    h2 {
      position: relative;
      text-align: left;
      font-size: 2.75rem;
      &::after {
        content: '';
        width: 30%;
        height: 5px;
        background-color: $color__lb;
        position: absolute;
        left: 0%;
        bottom: 0;
      }
    }
  }
  .story-img {
    background-image: url(../../images/web/about/paul_punching_bag@3x.jpg);
    height: 940px;
    background-position-y: right;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: auto;
    margin-bottom: 50px;
    background-position-x: right;
  }
  .rest-of-my-life {
    background-color: $color__w;
    padding-top: 5%;
    padding: 5%;
    width: 41%;
    line-height: 2;
    font-size: 1.25rem;
  }
  .wp-block-quote-my-mission {
    text-align: center;
    position: absolute;
    display: block;
    width: 59%;
    bottom: 0%;
    left: 7%;
    padding: 10px;
    font-size: 30px;
    background-color: $color__db;
    color: $color__w;
  }
  .transformation-background-pic {
    background-image: url(../../images/web/about/paul_and_girl.jpg);
    width: 100%;
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-attachment: fixed;

    h2 {
      color: $color__w;
      padding-top: 10%;
      font-size: 60px;
      text-transform: uppercase;
      width: 40%;
    }
    a {
      text-decoration: none;
    }
    .button {
      display: inline-block;
      padding: 15px 25px;
      font-size: 24px;
      width: 15%;
      height: 10%;
      margin-right: 25%;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      color: $color__w;
      background-color: $color__lb;
      border: none;
      border-radius: 15px;
      a {
        color: white;
        &:hover {
          color: $color__link-hover;
        }
      }
    }
    .about-mobile-button {
      display: none;
    }
    .button:hover {
      background-color: $color__lb;
    }
    .button:active {
      background-color: $color__lb;
      transform: translateY(4px);
    }
  }
}
