
.category-page {
    max-width: 80%;
    margin: auto;
    .widget-area{
        margin-top: -22px;
    }
    .page-title {
        &::after {
            content: "";
            width: 25%;
            height: 4px;
            bottom: 78%;
            background-color: #00a7ed;
            position: absolute;
            left: 22.5%;
            transform: translateX(-50%);
        }
    }
}




@include desktop {


}    



@include mobile {
}