//Footer
.disclaimers {
  align-items: center;
  
  a {
    border-right: 1px solid #fff;
    line-height: 1;
  }
  a:last-child {
    border: none;
  }
}
.copyright-footer {
  color: $color__bg;
}
.site-footer {
  background-color: $color__db;
  font-family: $font__header;
  width: 100%;

  .site-info {
    display: none;
    font-size: 1.2rem;
  }
  @include desktop {
    .site-info {
      display: flex;
      text-align: center;
      justify-content: space-between;
      padding: 4rem;
    }
    ul{
      text-align: left;
    }
p{
  color: $color__bg;
}
.social-media {
  margin-right: 77%;
}
.sign-up-wrapper {
    p {
      margin-right: 24%;
      }
}
    nav {
      a {
        text-decoration: none;
        color: $color__bg;
      }
    }
  }
}
.disclaimers {
  margin: $base__space-unit ($base__space-unit * 20);
  font-size: 0.75rem;
  color: $color__bg;
  text-align: center;
  padding: 0.5rem;
}
#footer-menu{
  display: flex;
  flex-flow: row wrap;
  li{
    width: 50%;
  }
}