//Footer
.up-btn {
  .fa-angle-up:before {
    padding: 10px 15px;
    box-shadow: 2px 2px 20px 0 #464646;
    border-radius: 100%;
    background-color: #778899;
  }
  a {
    float: right;
    margin-right: 5%;
  }
}

.copyright-footer {
  color: $color__bg;
}
.site-footer {
  background-color: $color__db;
  font-family: $font__header;
  width: 100%;

  .site-info {
    display: none;
    font-size: 1.2rem;
  }
<<<<<<< HEAD
  .fa-angle-up:before{
    padding: 10px 15px;
    box-shadow: 2px 2px 20px 0 #464646;
    border-radius: 100%;
    background-color: #778899;
  }
  a{
    float: right;
    margin-right: 5%;
    &:hover {
      color: $color__link-hover;
    }
  }
=======

>>>>>>> b43b3957933c1b7e8b79e104d77bcc2cf6125664
  @include desktop {
    .site-info {
      display: flex;
      text-align: center;
      justify-content: space-between;
      padding: 4rem;
      padding-bottom: 1rem;
      opacity: 0.5;
      .top-arrow {
        padding: 10px 15px;
        background-color: grey;
        border-radius: 16px;
        margin-right: 55%;
      }
    }
    ul {
      text-align: left;
    }
    p {
      color: $color__bg;
    }
    .social-media {
      margin-right: 66%;
      display: flex;
      justify-content: space-between;
      margin-inline-end: 45%;
    }
    .sign-up-wrapper {
      p {
        text-align: left;
      }
    }
    nav {
      a {
        text-decoration: none;
        color: $color__bg;
      }
    }
  }
}
.disclaimers {
  margin: $base__space-unit auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.75rem;
  color: $color__bg;
  text-align: center;
  padding: 0.5rem;
  opacity: 0.5;
  align-items: center;
  a {
    width: 33%;
    border-right: 1px solid #fff;
    line-height: 1;
    padding-right: 1rem;
    text-decoration: none;
    &:hover {
      color: $color__link-hover;
    }
  }
  a:nth-of-type(3) {
    border: none;
  }

  p {
    width: 100%;
  }
}
@include desktop {
  .disclaimers {
    width: 50%;
  }
}
#footer-menu {
  display: flex;
  flex-flow: row wrap;
  li {
    width: 50%;
  }
}
.search-set {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  #your-email-footer {
    border: 1px solid $color__bg;
    background: $color__db;
    padding: 7px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: red;
  }
  #sign-up-footer {
    background-color: $color__bg;
    color: $color__db;
    margin: 0px;
    margin-left: -15px;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    &:hover {
      color: $color__link-hover;
    }
  }
}
