/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
.wp-block-button__link,
.has-pale-cyan-blue-background-color.has-pale-cyan-blue-background-color,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  border: 1px solid;
  border-color: none;
  border-radius: 10px;
  background: $color__lb;
  color: $color__w;
  @include font-size(0.75);
  line-height: 1;
  padding: $base__space-unit ($base__space-unit * 2);

  &:hover {
    border-color: none;
  }

  &:active,
  &:focus {
    border-color: none;
    outline: none;
  }
}

/* Fields */

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
textarea {
  color: #666;
  border: 2px solid $color__bg;
  border-radius: 6px;
  font-size: 0.9rem;
  line-height: 2;
  width: 100%;
  &:focus {
    color: #111;
  }
}

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'] {
  padding: 3px;
}

textarea {
  padding-left: 3px;
  width: 100%;
  height: 200px;
  resize: none;
}

.your-first-name,
.your-last-name {
  display: grid;
  input {
    display: inline;
  }
}

form {
  label {
    font-family: $font__header;
    .required {
      color: $color__esr;
    }
  }
  .form-submit {
    display: flex;
    justify-content: center;
    input {
      font-size: 1rem;
    }
  }
}
