//Header
.site-header {
  display: flex;
  background-color: $color__db;
  width: 100%;
  height: 24vh;
  .logo {
    background-image: url(../../images/web/header-symbols/logo_header_small_white.svg);
    background-repeat: no-repeat;
    width: 100%;
  }
  nav {
    margin: 10px auto;
  }
}
