//Header
.menu-show {
  position: fixed;
}
.site-header {
  display: flex;
  background-color: $color__db;
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  .site-branding {
    flex: 0 1 75%;
    height: 100px;
    .logo {
      display: inline-block;
      background-image: url(../../images/web/header-symbols/logo_header_small_white.svg);
      background-repeat: no-repeat;
      background-position: 3% 40%;
      width: 100%;
      height: 100px;
    }
  }
  nav {
    display: flex;
    flex: 0 1 25%;
    @include mobile {
      // .main-navigation-inner {
      //   display: none;

      //   .social-media {
      //     display: flex;
      //     justify-content: space-around;
      //     max-width: 300px;
      //     margin: 0 110px;
      //     a {
      //       color: $color__db;
      //       font-size: 2.75rem;
      //     }
      //   }
      // }
      ul {
        overflow-y: scroll;
        background-color: $color__w;
        position: absolute;
        margin: 0;
        padding: 10px;
        top: 70px;
        right: 0px;
        width: 100vw;
        height: calc(100vh - 70px);
        flex-direction: column;
        .trial {
          position: relative;
          bottom: 10px;
          background: $color__lb;
          text-align: center;
          margin: 0 50px;
          padding: $base__space-unit ($base__space-unit * 2);
        }
        .social-media {
          display: flex;
          justify-content: space-around;
          margin: 0 50px;
          a {
            font-size: 2.75rem;
            color: $color__db;
          }
        }
        li {
          padding: 10px 12px;
          text-align: left;
          border-bottom: 4px solid $color__bg;
          margin: 0 50px;
          a {
            margin: 0px;
            color: $color__db;
            font-size: 1.4rem;
            font-weight: bold;
          }
        }
      }
    }
  }
}
@include desktop {
  .site-header {
    .site-branding {
      flex: 0 1 50%;
    }
    nav {
      flex: 0 1 50%;
      justify-content: flex-end;
      ul {
        li {
          display: block;
          padding-right: 12px;
          a {
            margin: 0px;
            color: $color__w;
          }
        }
      }
    }
  }
  .home .site-branding {
    .logo {
      background-image: url(../../images/web/header-symbols/logo_header_large_no_glow.svg);
      background-repeat: no-repeat;
      background-size: cover;
      box-shadow: 0 0 153px -11px $color__lb;
      position: relative;
      left: 50px;
      width: 216px;
      height: 165px;
    }
  }
}
