//Header
.menu-show {
  position: fixed;
}
.site-header {
  display: flex;
  background-color: $color__db;
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  z-index: 10000;
  .site-branding {
    flex: 0 1 75%;
    height: 100px;
    align-self: center;
    .logo {
      display: inline-block;
      background-image: url(../../images/web/header-symbols/logo_full_horizontal_web.svg);
      background-repeat: no-repeat;
      background-position: 3% 50%;
      width: 50%;
      height: 100px;
      z-index: 10000;
    }
  }
  nav {
    display: flex;
    flex: 0 1 25%;
    z-index: 10000;
    @include mobile {
      ul {
        overflow-y: scroll;
        background-color: $color__w;
        position: absolute;
        margin: 0;
        padding: 10px;
        top: 70px;
        right: 0px;
        width: 100vw;
        height: calc(100vh - 70px);
        flex-direction: column;
        .sub-menu {
          display: flex;
          flex-direction: row;
          height: auto;
          width: auto;
          float: unset;
          position: static;
          li {
            width: 48%;
            margin: 0;
            &:first-child {
              margin-right: 2%;
            }
            text-transform: uppercase;
          }
        }
        .trial {
          position: relative;
          bottom: 10px;
          background: $color__lb;
          text-align: center;
          margin: 0 50px;
          padding: $base__space-unit ($base__space-unit * 2);
        }
        .social-media {
          display: flex;
          justify-content: space-around;
          margin: 0 50px;
          a {
            font-size: 2.75rem;
            color: $color__db;
          }
        }

        li {
          padding: 10px 12px;
          text-align: left;
          border-bottom: 4px solid $color__bg;
          margin: 0 50px;

          a {
            margin: 0px;
            color: $color__db;
            font-size: 1.4rem;
            font-weight: bold;
          }
        }
      }
    }
  }
}
@include desktop {
  .site-header {
    z-index: 10000;
    .site-branding {
      flex: 0 1 40%;
    }
    nav {
      flex: 0 1 60%;
      // justify-content: flex-end;
      ul {
        display: flex;
        font-size: 1.2rem;
        align-items: stretch;
        width: 100%;
        text-transform: uppercase;
        .menu-item-has-children {
          display: flex;
          align-items: center;
          padding-left: 10px;

          .sub-menu {
            display: block;
            background-color: $color__lb;
            border-radius: 0 0 10px 10px;
            text-align: center;
            width: auto;
            height: 0;
            overflow: hidden;
            position: absolute;
            top: 70px;
            left: 0;
            li {
              &:first-child {
                &::after {
                  content: '';
                  width: 90%;
                  height: 1px;
                  background-color: $color__llb;
                  position: absolute;
                  bottom: 0;
                  left: 50%;
                  transform: translateX(-50%);
                }
              }
            }
          }
          &.focus {
            background-color: $color__lb;
            .sub-menu {
              padding: 10px;
              height: auto;
            }
          }
        }
        .trial {
          background-color: $color__lb;
          order: 3;
          width: 135px;
          height: 70px;
          text-align: center;
          span {
            display: block;
          }
        }
        .social-media {
          font-size: 1.75rem;
          flex-direction: row;
          display: flex;
          align-items: center;
          a {
            padding: 0 10px;
            display: inline-block;
          }
        }
        li {
          padding-right: 12px;
          display: flex;
          align-items: center;
          a {
            margin: 0px;
            color: $color__w;
          }
        }
      }
    }
  }
  .home .site-branding {
    .logo {
      background-image: url(../../images/web/header-symbols/logo_header_large_no_glow.svg);
      background-repeat: no-repeat;
      background-size: cover;
      box-shadow: 0 0 153px -11px $color__lb;
      position: relative;
      left: 50px;
      width: 216px;
      height: 165px;
    }
  }
}
