// home.php and single.php

// background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
.blog-page {
    max-width: 70%;
    margin: auto;
} 
.blog-title{
            position: relative;
            text-align: center;
            font-size: 2rem;
            margin: 0.2em 0;
            &::after {
              content: '';
              width: 25%;
              height: 4px;
              bottom: 0px;
              background-color: $color__lb;
              position: absolute;
              left: 50%;
              transform: translateX(-50%);
            }
    }

.carousel-area { // Popular Posts
    h2 {
        position: relative;
        font-size: 1.75rem;
        font-weight: bold;
        &::after {
              content: '';
              width: 25%;
              height: 4px;
              top: 50px;
              right: 62.5%;
              background-color: $color__lb;
              position: absolute;
              transform: translateX(-50%);  
    }
    }}

.blog-carousel {
    width:1075px;    
    margin-top: 2.5%;
}

// $color__bg: #c2d7e9; // Blue-ish Grey
// $color__llb: #ebf7fd; // Light Light Blue

.blog-carousel-cell {
    position: relative;
    width:335px;
    margin-left:25px;
    
    // padding: 12.5px;
    border: 3.5px solid #c2d7e9;
    border-radius: 15px;
    height: 400px;
    img {
        height: 200px;
        // max-width: 350px;
        width: 335px;
        border-top-left-radius: 9.8px;
        border-top-right-radius: 9.8px;
    }
    h3{
        font-size: 1.3rem;
        padding: 0% 5% 0% 5%;
    }
    .blog-carousel-term{
        position: absolute;
        bottom: 0;
        background-color: #002150;
        border-bottom-left-radius: 9.8px;
        padding: 1% 5% 1% 5%;
        color: #fff;
    }
}

// .blog-carousel-title{
//     height: 150px;
// }

.recent-blog-post {
    h2 {
        position: relative;
        font-size: 1.75rem;
        font-weight: bold;
        &::after {
              content: '';
              width: 40%;
              height: 4px;
              top: 50px;
              right: 40%;
              background-color: $color__lb;
              position: absolute;
              transform: translateX(-50%);
        }
    }
}

.recent-entry-content {
    border: 3.5px solid #c2d7e9;
    border-radius: 10px;
}


.widget_search {
 max-width: 250px;;
}

.widget-title {
    display:none;
}

.blog-content-area {
    display:grid;
    grid-template-columns: 3fr 1fr;
}

// .blog-carousel {
//     height: 500px;
// }


@include mobile {}