// home.php and single.php

// background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));

//Global both desktop and mobile

.fa-search {
  color: blue;
}

@include desktop {
  .blog-page {
    max-width: 80%;
    margin: auto;
  }

  .blog-title {
    position: relative;
    text-align: center;
    font-size: 2rem;
    margin: 0.2em 0;
    &::after {
      content: '';
      width: 25%;
      height: 4px;
      bottom: 0px;
      background-color: $color__lb;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .carousel-area {
    h2 {
      position: relative;
      font-size: 2.25rem;
      font-weight: bold;
      &::after {
        content: '';
        width: 25%;
        height: 4px;
        top: 50px;
        right: 62.5%;
        background-color: $color__lb;
        position: absolute;
        transform: translateX(-50%);
      }
    }
  }

  .blog-carousel {
    max-width: 1200px;
    width: 100%;
    margin-top: 2.5%;
    // padding-left: 25px;
  }

  // $color__bg: #c2d7e9; // Blue-ish Grey
  // $color__llb: #ebf7fd; // Light Light Blue

  .blog-carousel-cell {
    position: relative;
    width: 390px;
    margin-left: 1.2%;
    border: 3.5px solid #c2d7e9;
    border-radius: 15px;
    height: 400px;
    img {
      height: 235px;
      // max-width: 350px;
      width: 390px;
      border-top-left-radius: 9.8px;
      border-top-right-radius: 9.8px;
    }
    h3{
        font-size: 1.3rem;
        padding: 0% 5% 0% 5%;
        color: #313A87;
    }
    .blog-carousel-term {
      position: absolute;
      min-width: 130px;
      text-align: center;
      font-weight: bold;
      bottom: -2px;
      left: -2.5px;
      background-color: #002150;
      border-bottom-left-radius: 9.8px;
      padding: 1% 5% 1% 5%;
      color: #fff;
    }
  }


.recent-blog-post {
    h2 {
        position: relative;
        font-size: 2.25rem;
        font-weight: bold;
        
        &::after {
              content: '';
              width: 40%;
              height: 4px;
              top: 98%;
              right: 40%;
              background-color:  $color__lb;
              position: absolute;
              transform: translateX(-50%);
        }
    }
    .search-pagination{
        margin-bottom: 30px;
        .page-numbers {
        color: $color__lb;
    }}}

    .entry-title {
        position: relative;
        font-size: 2.25rem;
        font-weight: bold;
        padding: 1% 1% 1% 3%;
        &::after {
              content: '';
              width: 40%;
              height: 3px;
              top: 98%;
              right: 37%;
              background-color:  #c2d7e9;
              position: absolute;
              transform: translateX(-50%);
        }
    }
  .front-page-recent-blogs{
    width: 80%;
    margin: auto;
    h2{
        position: relative;
        text-align: center;
        font-size: 3rem;
        &::after {
        content: '';
            width: 30%;
            height: 5px;
            top: 60px;
            background-color: $color__lb;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }   
}

  .recent-blog-post {
    h1 {
      position: relative;
      font-size: 2.25rem;
      font-weight: bold;
      &::after {
        content: "";
        width: 40%;
        height: 4px;
        top: 94%;
        right: 37%;
        background-color: #c2d7e9;
        position: absolute;
        transform: translateX(-50%);
    }
      }
    }
  

  .recent-entry-content {
    border: 3.5px solid #c2d7e9;
        border-radius: 9.95px;
        img {
            height: 320px;
            width: 835px;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            width:100%;
        }
        .recent-blog-image-container {
            position: relative;
        .recent-blog-term{
            font-size: 0.9rem;
            position: absolute;
            background-color: #002150;
            padding: 1% 5% 1% 5%;
            color: #fff;
            // bottom: 1px;
            right: 0px;
            bottom: 7px;
        }
        h1 {
            position: relative;
            padding-left: 15px;
            padding-bottom: 3px;
            font-size: 1.25rem;
            &::after {
                content: "";
                width: 40%;
                height: 2px;
                top: 102%;
                right: 38.25%;
                background-color: #c2d7e9;
                position: absolute;
                transform: translateX(-50%);
        }
        }    
    }
}



    .recent-blog-content {
        .read-more {
            font-weight: bold;
            font-size: 1rem;
            color: $color__lb;
            font-style: italic;
            a:visited {
                color:$color__lb;
            }
            a:hover {
                color: $color__lb;
                font-style: underline;
            }
        }
        p{
            padding: 1% 1% 1% 3%;
            color: #313A87;
        }
    }

.widget-title {
    display:none;
}

  .blog-content-area {
    display: grid;
    grid-template-columns: 2fr 1fr;

    .widget-area {
      padding-top: 108px;
      border: none;
      #cat {
        margin-left: 17px;
        border: 4px solid #002150;
        padding: 2% 1% 2% 2%;
        // width: 392px;
        color: #666;
        border-radius: 6px;
        font-size: 1.37rem;
        line-height: 2;
        width: 100%;
        &:focus {
          outline: none;
        }
      }
      .search-field {
        padding: 1% 1% 1% 2%;
        border: 4px solid #002150;
        font-size: 1.325rem;
        &:focus {
          outline: none;

          // width: 369px;
        }
      }
    }
  }
}

@include mobile {
  .blog-page {
    max-width: 90%;
    margin: auto;
  }

  .blog-title {
    order: 1;
    position: relative;
    text-align: center;
    font-size: 0.8rem;
    margin: 0.2em 0;
    &::after {
      content: '';
      width: 175px;
      height: 3px;
      bottom: -3px;
      background-color: $color__lb;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .carousel-area {
    // Popular Posts
    order: 3;
    h2 {
      position: relative;
      font-size: 1.25rem;
      font-weight: bold;
      padding-bottom: 15px;
      &::after {
        content: '';
        width: 220px;
        height: 3px;
        top: 37.5px;
        right: 2.25%;
        background-color: $color__lb;
        position: absolute;
        transform: translateX(-50%);
      }
    }

  }

  .blog-carousel {
    // background-image: linear-gradient(
    //   to right,
    //   rgba(255, 0, 0, 0),
    //   rgba(255, 255, 255, 0.3)
    // );
    width: 350px;
    margin-top: 2.5%;
  }


        .blog-carousel-cell {
            position: relative;
            width:200px;
            margin-left: 2.5px;
            // padding: 12.5px;
            height: 250px;
            img {
                width:100%;
                height: 150px;
                // max-width: 350px;
                width: 180px;
            }
            h3{
                font-size: 1rem;
                padding: 0% 5% 0% 5%;
                color: #4C55A9;
            }
            .blog-carousel-term{
               display:none;
            }
        }
  

        .recent-blog-post {
            padding-top: 25px;
            h2 {
                position: relative;
                font-size: 1.25rem;
                font-weight: bold;
                padding-bottom: 15px;
                &::after {
                      content: '';
                      width: 220px;
                      height: 3px;
                      top: 37.5px;
                      right: 2.25%;
                      background-color:$color__lb;
                      position: absolute;
                      transform: translateX(-50%);
                }
            }
            .search-pagination{
                margin-bottom: 30px;
            }
        }



        .recent-entry-content {
            position: relative;
            border: 1.5px solid #c2d7e9;
            border-radius: 10px;
            img {
                height: 130px;
                width: 100%;
                border-top-left-radius: 9.95px;
                border-top-right-radius: 9.95px;
            }
            .recent-blog-image-container {
                position: relative;
            .recent-blog-term{
                font-size: 0.75rem;
                position: absolute;
                background-color: #002150;
                padding: 1% 4% 1% 4%;
                color: #fff;
                right: 0px;
                top:106px;
            }}
            h1 {
                position: relative;
                padding-left: 2%;
                padding-right: 2%;
                padding-bottom: 2%;
                font-size: 1rem;
                &::after {
                    content: "";
                    width: 146px;
                    height: 2px;
                    top: 98%;
                    right: 32%;
                    background-color: #c2d7e9;
                    position: absolute;
                    transform: translateX(-50%);
                    }
                }
            p {
                color: #4C55A9;
                padding-left: 15px;
                font-size:0.75rem;
                padding-right:15px;
            }
}


.search-pagination{
    margin-bottom: 30px;
    .page-numbers {
    color: $color__lb;
}}


    .recent-blog-content {
        .read-more {
            font-weight: bold;
            font-size: 0.80rem;
            color: $color__lb;
            a:visited {
                color:$color__lb;
            }
            a:hover {
                color: $color__lb;
            }
        }
        p{
            padding: 1%;
        }

    }
           
           .widget-title {
               display:none;
           }
           .blog-content-area{
           .widget-area {
               border:none;
               width: 80%;
               margin: auto;
               #cat{

                   border: 4px solid #002150;
                   color: #666;
                   border-radius: 6px;
                   font-size: 1.3rem;
                   line-height: 2;
                   padding: 2% 1% 2% 0%;
                   width: 94%;
                   &:focus{
                    outline:none;
               }}
               .search-field{
                // margin: 0.1%;
                // padding: 0.1%;
                border: 4px solid #002150;
                font-size: 1.3rem;
                line-height: 2;
                &:focus {
                  outline: none;
        
               }
           
            }
        fieldset {
            padding:0;
            margin: 0;
        }
        input[type=search] {
            padding: 0px 0px 0px 2px;
            width: 90%
        }
        }
}
}