// home.php and single.php


.blog-carousel {
    width:1050px;
}

.blog-carousel-cell {
    width:350px;
    padding: 12.5px;
    border: 1px solid blue;
    max-height: 400px;
    img {
        height: 200px;
        // max-width: 350px;
        width: 350px;
    }
}

// .blog-carousel {
//     height: 500px;
// }