/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
  color: $color__w;
  text-decoration: none;
  &:visited {
    color: $color__w;
  }
  &:hover,
  &:focus,
  &:active {
    color: $color__link-hover;
  }
  &:focus {
    outline: none;
  }
  &:hover,
  &:active {
    outline: none;
  }
}

.video-testimonial a {
  color: $color__lb;
  text-decoration: none;
  border-color: $color__lb;
  border-width: 2px;
  border-style: solid;
  border-radius: $base__space-unit * 0.4;
  font-family: $font__header;
  font-size: 0.75rem;
  padding: $base__space-unit * 0.6;
}

/* Menus */

.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%;

  ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;

    ul {
      float: left;
      position: absolute;
      top: $base__space-unit;
      left: -999rem;
      z-index: 99999;

      ul {
        left: -999rem;
        top: 0;
      }

      li {
        &:hover > ul,
        &.focus > ul {
          left: 100%;
        }
      }

      a {
        width: 200px;
      }

      :hover > a,
      .focus > a {
      }

      a:hover,
      a.focus {
      }
    }

    li:hover > ul,
    li.focus > ul {
      display: flex;
      left: auto;
    }
  }
  li {
    float: left;
    position: relative;

    &:hover > a,
    &.focus > a {
    }
  }
  a {
    display: block;
    text-decoration: none;
  }

  .current_page_item > a,
  .current-menu-item > a,
  .current_page_ancestor > a {
  }
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled {
  background: transparent;
  border: none;

  ul {
    float: right;
    border: none;

    &:focus {
      outline: none;
    }
  }
  .main-navigation-inner {
    display: block;
  }
}
@media screen and (min-width: 641px) {
  .menu-toggle {
    display: none;
  }
  .main-navigation ul {
    display: block;
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {
  .site-main & {
    margin: 0 0 $base__space-unit;
    overflow: hidden;
  }

  .nav-previous {
    float: left;
    width: 50%;
  }

  .nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }
}
