/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */
@include mobile {
  .front-page {
    .home-banner {
      position: relative;
      background-color: $color__db;
      background-image: url(../../images/web/home-page/hero_banner.jpg);
      height: 400px;

      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: cover;
      &::before {
        content: '';
        position: absolute;
        top: 54px;
        background-image: linear-gradient($color__llb, $color__llb);
        transform: skewY(-4deg);
        transform-origin: top left;
        width: 100%;
        height: 390px;
        z-index: -100;
      }
      .banner-text {
        position: absolute;
        top: 8%;
        height: 100%;
        width: 70%;
        padding-left: 10%;
        h2 {
          font-family: 'Trade Gothic LT Std Normal';
          text-align: left;
          color: $color__w;
          font-size: 2.3rem;
          font-weight: 100;
          margin: 0;
          text-transform: uppercase;
        }
        h3 {
          display: none;
        }
      }
    }
    .intra-way {
      width: 100%;
      height: 100%;
      margin: 80px auto;
      .wp-block-media-text {
        display: block;
      }
      img {
        display: none;
      }
    }
    .goals {
      display: block;
      width: 100%;
      .goals-header {
        display: flex;
        flex-wrap: nowrap;
        width: 70%;
        margin: 0 auto;

        img {
          height: 100%;
          width: 100px;
        }
      }

      .goals-content {
        .wp-block-columns {
          display: block;
        }
        .wp-block-column {
          margin: 0;
        }
        position: relative;
        display: flex;
        text-align: center;
        flex-direction: column;
        width: 70%;
        margin: 0 auto;
        h2 {
          border-bottom: 2px solid $color__lb;
        }
        p {
          text-align: left;
        }

        img {
          height: 100%;
          width: 100px;
        }
        .health {
          display: block;
        }
        .happy,
        .freedom {
          display: none;
        }
      }
    }
  }
}
@include desktop {
  .front-page {
    .home-banner {
      position: relative;
      background-color: $color__db;
      background-image: url(../../images/web/home-page/hero_banner.jpg);
      height: 600px;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: cover;

      &::before {
        content: '';
        position: absolute;
        top: 350px;
        background-image: linear-gradient($color__llb, $color__llb);
        transform: skewY(-4deg);
        transform-origin: top left;
        width: 100%;
        height: 390px;
        z-index: -10000;
      }
      .banner-text {
        position: absolute;
        top: 30%;
        height: 100%;
        width: 50%;
        padding-left: 10%;
        h2 {
          font-family: 'Trade Gothic LT Std Normal';
          text-align: left;
          color: $color__w;
          font-size: 4.3rem;
          font-weight: 100;
          margin: 0;
          text-transform: uppercase;
        }
        h3 {
          color: $color__lb;
        }
        a {
          font-size: 1.55rem;
          border: none;
          padding: 20px 40px;
          &:hover {
            background-color: $color__link-hover;
          }
        }
      }
    }
    .intra-way {
      width: 80%;
      height: 100%;
      margin-top: 200px;
      margin: 20px auto;
      display: flex;

      .wp-block-media-text {
        grid-template-columns: 500px auto !important;
      }
      img {
        height: 100%;
        width: 500px;
      }
    }
    .goals {
      h2 {
        position: relative;
        text-align: center;
        font-size: 3rem;
        &::after {
          content: '';
          width: 30%;
          height: 5px;
          top: 60px;
          background-color: $color__lb;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      .goals-header {
        display: none;
      }
      .goals-content {
        width: 90%;
        margin: 0 auto;
        .wp-block-column {
          margin: 0 10px;
          padding: 0 40px;
          background-color: $color__db;
        }

        img {
          display: none;
        }
        h2 {
          position: relative;
          font-size: 2.25rem;
          color: $color__w;
          text-align: center;
          &::after {
            content: '';
            width: 60%;
            height: 5px;
            top: 50px;
            background-color: $color__lb;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
          }
        }
        p {
          color: $color__w;
        }
      }
    }
  }
}

.ready-to-start {
  background-image: url(../../images/web/home-page/ready_to_start.jpg);
  width: 100%;
  height: 50vh;
  background-repeat: no-repeat;
}
/*Mindset page*/
.mindset-coaching {
  @include mobile {
    .top-quote {
      background: url(../../images/web/life-coaching/paul_thinking.jpg)
        no-repeat;
      height: 300px;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: cover;
      margin-bottom: 180px;
      &::before {
        content: '';
        position: absolute;
        background-image: linear-gradient($color__llb, $color__llb);
        transform: skewY(-6deg);
        transform-origin: top left;
        width: 100%;
        height: 390px;
        z-index: -100;
      }
      p {
        display: none;
        margin: 0;
      }
    }
    .purpose {
      width: 85%;
      margin: 0 auto;

      h2 {
        text-align: center;
        font-size: 2.25rem;
        &::after {
          content: '';
          width: 50%;
          height: 5px;
          background-color: $color__lb;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      .has-3-columns {
        flex-wrap: nowrap;
        figure {
          width: 150px;
          height: 150px;
        }
      }
    }
    .maybe-you {
      .maybe-img {
        background: url(../../images/web/life-coaching/maybe_you_image.jpg);
        height: 370px;
        background-position-x: right;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: auto;
      }
      .inner-block {
        h2 {
          position: relative;
          text-align: center;

          &::after {
            content: '';
            width: 30%;
            height: 5px;
            bottom: 0;
            background-color: #00a7ed;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
          }
        }

        ul li {
          width: 90%;
          margin: auto;
          text-align: left;
          line-height: 2.9rem;
          list-style: none;

          &::before {
            content: '\2022';
            color: $color__lb;
            font-weight: bold;
            font-size: 1.25rem;
            display: inline-block;
            width: 1em;
            margin-left: -1em;
          }
        }
      }
    }
    .call-me {
      border-top: 4px solid $color__lb;
      border-bottom: 4px solid $color__lb;
      margin: 30px auto;
      text-align: center;
      padding: 0 30px;
    }
  }
  @include desktop {
    .top-quote {
      background: url(../../images/web/life-coaching/paul_thinking.jpg)
        no-repeat;
      height: 940px;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: auto;
      margin-bottom: 180px;
      &::before {
        content: '';
        position: absolute;
        top: 274px;
        background-image: linear-gradient($color__llb, $color__llb);
        transform: skewY(-6deg);
        transform-origin: top left;
        width: 100%;
        height: 890px;
        z-index: -100;
      }
      blockquote {
        display: block;
        text-align: center;
        position: relative;
        top: 170px;
        left: 630px;
        color: $color__w;
        background-color: $color__db;
        width: 46%;
        height: 60%;
        padding: 50px 70px;
        font-size: 2.75rem;
        margin: 0;
      }
    }
    .purpose {
      width: 70%;
      margin: 0 auto;
      h2 {
        position: relative;
        text-align: center;
        font-size: 2.75rem;
        &::after {
          content: '';
          width: 50%;
          height: 5px;
          background-color: $color__lb;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      p {
        font-size: 1.25rem;
      }
    }
    .maybe-you {
      margin-top: 38px;
      background: url(../../images/web/life-coaching/maybe_you_image.jpg);
      height: 800px;
      background-position-x: right;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: auto;
      &::before {
        content: '';
        position: absolute;
        top: 121.4em;
        background-image: linear-gradient($color__llb, $color__llb);
        transform: skewY(4deg);
        transform-origin: top right;
        width: 95%;
        height: 900px;
        z-index: -100;
      }
      .inner-block {
        box-shadow: 0px 0px 89px 13px rgba(92, 88, 88, 0.2);
        position: relative;
        background-color: $color__w;
        left: 0;
        top: 10%;
        width: 57%;
        padding: 30px;

        h2 {
          position: relative;
          text-align: left;
          font-size: 2.75rem;
          &::after {
            content: '';
            width: 40%;
            height: 5px;
            bottom: 0;
            background-color: #00a7ed;
            position: absolute;
            left: 20%;
            transform: translateX(-50%);
          }
        }
        ul li {
          font-size: 1.25rem;
          text-align: left;
          line-height: 2.9rem;
          list-style: none;
        }

        ul li::before {
          content: '\2022';
          color: $color__lb;
          font-weight: bold;
          font-size: 1.75rem;
          display: inline-block;
          width: 1em;
          margin-left: -1em;
        }
      }
    }
    .call-me {
      width: 80%;
      border-top: 4px solid $color__lb;
      border-bottom: 4px solid $color__lb;
      margin: 30px auto;
      margin-top: 170px;
      text-align: center;
      padding: 80px 20px;
      h2 {
        font-size: 2.75rem;
      }
      p {
        padding: 0px 270px;
        font-size: 1.25rem;
      }
      a {
        font-size: 1.55rem;
        padding: 18px 42px;
      }
    }
  }
}
@include mobile {
  .testimonials {
    display: block;
    height: 100%;
    width: 90%;
    margin: 50px auto;
    position: relative;
    h1 {
      text-align: center;
      &::after {
        content: '';
        width: 70%;
        height: 5px;
        top: 50px;
        background-color: #00a7ed;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    article {
      position: relative;
      width: 45%;
      margin: 0 auto;
      padding-bottom: 30px;

      h2 {
        text-align: left;
        font-size: 1.25rem;
        &::after {
          content: '';
          width: 60%;
          height: 5px;
          top: 42px;
          background-color: #00a7ed;
          position: absolute;
          left: 30%;
          transform: translateX(-50%);
        }
      }
      p {
        font-size: 0.95rem;
      }
    }
  }
}
@include desktop {
  .testimonials {
    margin: 50px 0;
    h1 {
      position: relative;
      text-align: center;
      font-size: 2.75rem;
      &::after {
        content: '';
        width: 25%;
        height: 5px;
        top: 60px;
        background-color: #00a7ed;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    #testimonial-carousel {
      display: flex;
      width: 90%;
      margin: 10px auto;
      article {
        margin: 0 65px;
        flex-basis: 33%;
        line-height: 1.85rem;
        h2 {
          position: relative;
          font-size: 1.75rem;
          &::after {
            content: '';
            width: 90%;
            height: 5px;
            top: 40px;
            background-color: #00a7ed;
            position: absolute;
            left: 45%;
            transform: translateX(-50%);
          }
        }
      }
    }
  }
}
/* Form pages */

.page-id-112,
.page-id-115,
.page-id-15 {
  h1 {
    display: none;
  }
  h2 {
    margin-bottom: 0;
    @include desktop {
      font-size: 2.4rem;
    }
  }
  hr {
    margin: 0 25%;
    background-color: $color__lb;
    height: 3px;
    @include desktop {
      margin: 0 70% 0 0;
    }
  }
  .entry-content {
    margin: 5% 7%;
    box-shadow: 0 0 50px 0px $color__bg;
    padding: 1% 5%;
  }
  @include desktop {
    .wpcf7 {
      display: flex;
      margin: 0 10%;
    }
    form {
      max-width: 800px;
    }
  }
}

.page-id-22,
.page-id-13 {
  @include mobile {
    .featured-image {
      height: 400px;
      background-position-x: center;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  @include desktop {
    .wpcf7 {
      margin: 0 5%;
    }
    .featured-image {
      height: 400px;
      background-position-x: center;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  h1 {
    display: none;
  }
  h2 {
    margin-bottom: 0;
    text-align: center;
    @include desktop {
      font-size: 2.4rem;
    }
  }
  hr {
    margin: 0 25%;
    background-color: $color__lb;
    height: 3px;
    @include desktop {
      margin: 0 30%;
    }
  }
}
.page-id-13 {
  .entry-content {
    margin: 0 4%;
    @include desktop {
      margin: 0 10%;
    }
    p {
      padding: 1% 10%;
      font-size: 1.3rem;
    }
  }
  .wp-block-column {
    padding: 2%;
    margin-top: 5%;
    @include desktop {
      margin-right: 2%;
    }
  }
  .plans .wp-block-column {
    margin: 1%;
    border-style: solid;
    border-color: $color__bg;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 2% 100px 2%;
    h3 {
      font-size: 2.4rem;
      text-align: center;
      margin-bottom: 0;
    }
    h4 {
      font-size: 1.6rem;
      text-align: center;
      margin: 0;
    }
    hr {
      margin: 0 15% 10% 15%;
    }
    ul {
      margin: 0;
      font-size: 1.2rem;
    }
    li {
      padding-bottom: $base__space-unit / 2;
    }
    .trial-top-line {
      margin: 10% 15% 0 15%;
    }
    p {
      text-align: center;
    }
    .wp-block-button {
      position: absolute;
      bottom: 0px;
      width: 88%;
      text-align: center;
      a {
        font-size: 1.4rem;
      }
    }
    &:nth-child(even) {
      border-color: $color__db;
      background-color: $color__db;
      color: $color__w;
      h3,
      h4 {
        color: $color__w;
      }
      a {
        border-style: none;
      }
    }
  }
  .faq {
    padding: 0 15%;
    .faq-hr {
      background-color: $color__bg;
      margin: ($base__space-unit * 1.5) 0;
    }
    .faq-question {
      a {
        color: $color__db;
        text-decoration: none;
        font-size: 1.4rem;
        font-weight: bold;
      }
      i {
        background-color: $color__db;
        font-size: 1.6rem;
        padding: 0.8rem 0.9rem;
        border-radius: 50%;
        color: $color__w;
        margin-right: $base__space-unit;
        box-shadow: 3px 3px 5px 2px $color__bg;
        &.x {
          display: none;
          padding: 0.8rem 1rem;
          background-color: $color__lb;
        }
      }
    }
    .faq-answer {
      display: none;
    }
  }
}

.page-id-22 {
  .entry-content {
    margin: 5% 7%;
    box-shadow: 0 0 50px 0px $color__bg;
    padding: 1% 5%;
    @include desktop {
      margin: 5% 16%;
    }
  }
  .address {
    text-align: center;
    margin: 5% 7%;
    @include desktop {
      margin: 5% 16%;
    }
    p {
      margin: 0.3rem;
    }
  }
  iframe {
    display: flex;
    margin: $base__space-unit 0;
  }
}
<<<<<<< HEAD

.page-id-22 {
  @include mobile {
    h2 {
      margin-bottom: 0;
      text-align: center;
      @include desktop {
        font-size: 2.4rem;
      }
    }
    hr {
      margin: 0 25%;
      background-color: $color__lb;
      height: 3px;
      @include desktop {
        margin: 0 30%;
      }
    }
    .entry-content {
      margin: 5% 7%;
      box-shadow: 0 0 50px 0px $color__bg;
      padding: 1% 5%;
      @include desktop {
        margin: 5% 16%;
      }
    }
    @include desktop {
      .wpcf7 {
        margin: 0 5%;
      }
      .featured-image {
        height: 400px;
        background-position-x: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
    .address {
      text-align: center;
      margin: 5% 7%;
      @include desktop {
        margin: 5% 16%;
      }
      p {
        margin: 0.3rem;
      }
    }
    iframe {
      display: flex;
      margin: $base__space-unit 0;
    }
  }
}
=======
>>>>>>> 0c7c5d4a4944e60db28b1001fd05c4bf19c86186
