/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

.ready-to-start {
  background-image: url(../../images/web/home-page/ready_to_start.jpg);
  width: 100%;
  height: 50vh;
  background-repeat: no-repeat;
}

.mindset-coaching {
  @include mobile {
    .top-quote {
      background: url(../../images/web/life-coaching/paul_thinking.jpg)
        no-repeat;
      height: 300px;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: cover;
      margin-bottom: 180px;
      &::before {
        content: '';
        position: absolute;
        background-image: linear-gradient($color__llb, $color__llb);
        transform: skewY(-6deg);
        transform-origin: top left;
        width: 100%;
        height: 390px;
        z-index: -100;
      }
      p {
        display: none;
        margin: 0;
      }
    }
    .purpose {
      width: 85%;
      margin: 0 auto;

      h2 {
        text-align: center;
        font-size: 2.25rem;
        &::after {
          content: '';
          width: 50%;
          height: 5px;
          background-color: $color__lb;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      .has-3-columns {
        flex-wrap: nowrap;
        figure {
          width: 150px;
          height: 150px;
        }
      }
    }
    .maybe-you {
      .maybe-img {
        background: url(../../images/web/life-coaching/maybe_you_image.jpg);
        height: 370px;
        background-position-x: right;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: auto;
      }
      .inner-block {
        // position: relative;
        // top: 370px;
      }
    }
  }
  @include desktop {
    .top-quote {
      background: url(../../images/web/life-coaching/paul_thinking.jpg)
        no-repeat;
      height: 940px;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: auto;
      margin-bottom: 180px;
      &::before {
        content: '';
        position: absolute;
        top: 274px;
        background-image: linear-gradient($color__llb, $color__llb);
        transform: skewY(-6deg);
        transform-origin: top left;
        width: 100%;
        height: 890px;
        z-index: -100;
      }
      p {
        display: block;
        text-align: center;
        position: relative;
        top: 170px;
        left: 630px;
        color: $color__w;
        background-color: $color__db;
        width: 46%;
        height: 100%;
        padding: 169px 70px;
        font-size: 2.75rem;
        margin: 0;
      }
    }
    .purpose {
      width: 70%;
      margin: 0 auto;
      h2 {
        position: relative;
        text-align: center;
        font-size: 2.75rem;
        &::after {
          content: '';
          width: 50%;
          height: 5px;
          background-color: $color__lb;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      p {
        font-size: 1.25rem;
      }
    }
    .maybe-you {
      margin-top: 38px;
      background: url(../../images/web/life-coaching/maybe_you_image.jpg);
      height: 800px;
      background-position-x: right;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: auto;
      &::before {
        content: '';
        position: absolute;
        top: 121.2em;
        background-image: linear-gradient($color__llb, $color__llb);
        transform: skewY(4deg);
        transform-origin: top right;
        width: 95%;
        height: 900px;
        z-index: -100;
      }
      .inner-block {
        position: relative;
        background-color: $color__w;
        left: 0;
        top: 10%;
        width: 57%;
        padding: 30px;

        h2 {
          position: relative;
          text-align: left;
          font-size: 2.75rem;
          &::after {
            content: '';
            width: 40%;
            height: 5px;
            bottom: 0;
            background-color: #00a7ed;
            position: absolute;
            left: 20%;
            transform: translateX(-50%);
          }
        }
        ul li {
          font-size: 1.25rem;
          text-align: left;
          line-height: 2.9rem;
          list-style: none;
        }

        ul li::before {
          content: '\2022';
          color: $color__lb;
          font-weight: bold;
          font-size: 1.75rem;
          display: inline-block;
          width: 1em;
          margin-left: -1em;
        }
      }
    }
  }
}
/* Form pages */

.page-id-112,
.page-id-115,
.page-id-15 {
  h1 {
    display: none;
  }
  h2 {
    margin-bottom: 0;
    @include desktop {
      font-size: 2.4rem;
    }
  }
  hr {
    margin: 0 25%;
    background-color: $color__lb;
    height: 3px;
    @include desktop {
      margin: 0 70% 0 0;
    }
  }
  .entry-content {
    margin: 5% 7%;
    box-shadow: 0 0 50px 0px $color__bg;
    padding: 1% 5%;
  }
  @include desktop {
    .wpcf7 {
      display: flex;
      margin: 0 10%;
    }
    form {
      max-width: 800px;
    }
  }
}

.page-id-22 {
  @include mobile {
    .top-quote {
      background: url(../../images/web/life-coaching/paul_thinking.jpg)
        no-repeat;
      height: 300px;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: cover;
      margin-bottom: 180px;
      &::before {
        content: '';
        position: absolute;
        background-image: linear-gradient($color__llb, $color__llb);
        transform: skewY(-6deg);
        transform-origin: top left;
        width: 100%;
        height: 390px;
        z-index: -100;
      }
      p {
        display: none;
        margin: 0;
      }
    }
    .purpose {
      width: 85%;
      margin: 0 auto;

      h2 {
        text-align: center;
        font-size: 2.25rem;
        &::after {
          content: '';
          width: 50%;
          height: 5px;
          background-color: $color__lb;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      .has-3-columns {
        flex-wrap: nowrap;
        figure {
          width: 150px;
          height: 150px;
        }
      }
    }
    .maybe-you {
      .maybe-img {
        background: url(../../images/web/life-coaching/maybe_you_image.jpg);
        height: 370px;
        background-position-x: right;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: auto;
      }
      .inner-block {
        // position: relative;
        // top: 370px;
      }
    }
  }
  h1 {
    display: none;
  }
  h2 {
    margin-bottom: 0;
    text-align: center;
    @include desktop {
      font-size: 2.4rem;
    }
  }
  hr {
    margin: 0 25%;
    background-color: $color__lb;
    height: 3px;
    @include desktop {
      margin: 0 30%;
    }
  }
  .entry-content {
    margin: 5% 7%;
    box-shadow: 0 0 50px 0px $color__bg;
    padding: 1% 5%;
    @include desktop {
      margin: 5% 16%;
    }
  }
  @include desktop {
    .wpcf7 {
      margin: 0 5%;
    }
  }
  .address {
    text-align: center;
    margin: $base__space-unit 0;
    p {
      margin: 0.3rem;
    }
  }
  iframe {
    display: flex;
    margin: $base__space-unit 0;
  }
}
