/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

.ready-to-start{
    background-image: url(../../images/web/home-page/ready_to_start.jpg);
    width: 100%;
    height: 50vh;
    background-repeat: no-repeat;
    
}