@include desktop {

.image-cover {

    display: flex;
    width:100%;
    margin:auto;
    background-color: $color__db;
    img{
        margin: auto;
        width:70%;
        height: 100%;
    }
}

.entry-content {
    a {
        color: $color__db;
        text-decoration: underline;
        a:visited {
            color:$color__db;
        
        a:hover {
            color: $color__db;
        
        }}}
}

.single-page {
    width: 65%; 
    margin: auto;
    .widget-area {
        padding-top: 110px;
    }
}

.single-recent-blogs {
    width: 80%;
    margin: auto;
    padding-bottom: 45px;
}

.single-recent-blogs {
    margin-bottom: 7%;
h2 {
    position: relative;
    &::after {
        content: "";
        width: 360px;
        height: 4px;
        bottom: -7px;
        background-color: $color__lb;
        position: absolute;
        left: 184px;
        transform: translateX(-50%);
    }
}
}

.entry-footer {
    a {
        color: $color__lb;
      
        a:visited {
            color:$color__lb;
        
        a:hover {
            color: $color__lb;
        
        }}}
}
.post-navigation {
    a {
        color: $color__lb;
      
        a:visited {
            color:$color__lb;
        
        a:hover {
            color: $color__lb;
        
        }}}
}

#disqus_thread {
    width: 70%;
    margin: auto;
}
}
@include mobile {


    .image-cover {

        display: flex;
        width:100%;
        margin:auto;
        background-color: $color__db;
        img{
            margin: auto;
            width:70%;
            height: 100%;
        }
    }
    
    .entry-content {
        ul li {
            font-size: 0.8rem;
        }
        p {
            font-size: 0.8rem;
        }
        a {
            color: $color__db;
            text-decoration: underline;
            a:visited {
                color:$color__db;
            
            a:hover {
                color: $color__db;
            
            }}}
    }
    
    .single-page {
        width: 90%; 
        margin: auto;
        .widget-area {
            padding-top: 25px;
            padding-bottom: 25px;
        }
    }
    
    .single-recent-blogs {
        width: 80%;
        margin: auto;
        padding-bottom: 45px;
    }
    
    .single-recent-blogs {
        margin-bottom: 50px;
                
    h2 {
        position: relative;
        &::after {
            content: "";
            width: 68%;
            height: 4px;
            bottom: -8%;
            background-color: #00a7ed;
            position: absolute;
            left: 33.5%;
            transform: translateX(-50%);
        }
    }
}

    .entry-footer {
        a {
            color: $color__lb;
          
            a:visited {
                color:$color__lb;
            
            a:hover {
                color: $color__lb;
            
            }}}
    }
    .post-navigation {
        a {
            color: $color__lb;
          
            a:visited {
                color:$color__lb;
            
            a:hover {
                color: $color__lb;
            
            }}}
    }
    
    #disqus_thread {
        width: 80%;
        margin: auto;
    }
    }