// Structure

$base__space-unit: 1rem;
$desktop__width: 641px;

// Colors

$color__background-body: #fff;
$color__text-main: #002150;

$color__background-screen: #fff;
$color__text-screen: #002150;

$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

$color__link: #fff;
$color__link-visited: #fff;
$color__link-hover: #0c71a3;

// Pallete Collors

$color__db: #002150; // Dark Blue
$color__lb: #00a7ed; // Light Blue
$color__w: #fff; // White
$color__esr: #ed3800; // Error State Red
$color__bg: #c2d7e9; // Blue-ish Grey
$color__llb: #ebf7fd; // Light Light Blue

// Typography

$font__main: 'Open Sans Normal', sans-serif;
$font__header: 'Trade Gothic LT Std Normal-bold', sans-serif;
$font__code: Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
$font__pre: 'Courier 10 Pitch', Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
